.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 111, 116);
    padding: 1rem;
  }
  
  .faqs {
    width: 50rem;
    max-width: 100%;
    background-color: rgb(196, 187, 187);
    border-radius: 0.6rem;
    padding: 1rem;
  }
  
  h1 {
    text-align: center;
  }